body{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f8f5f1;
}

#triangle{
    position:absolute;
    background-color: #343f56;
    height:300px;
    width:100%;
    z-index: -1;

}
.home{
    height:500px;
    padding-top: 200px;
    display:flex;
    justify-content: space-between;
}

#title{
    font-size: 4rem;
    color:#387c6d;
    font-weight: 500;
}

#blink{
    display:inline-block;
    font-weight: 900;
    font-size: 2em;
    position: relative;
    top:-60px;
    left:295px;
    animation: 0.5s linear 1s infinite alternate blink;
}

.content{
    padding-left:10%;
    flex-basis:50%;
    font-size: 24px;
}

.profile{
    flex-basis: 30%;
    padding-left:50px;
    padding-right:10%;
}

#sg-ot{
    display: inline-block;
    background-color: #387c6d;
    padding:5px 10px;
    color:#f8f5f1;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
}

.profile img{
    border-radius: 5px;
    margin-bottom: 10px;
}

.choice{
    height:400px;
    padding-top:100px;
    display: flex;
    background-color: #f8f5f1;
    justify-content: space-around;
}

#outer{
    position: relative;
    background-color: #387c6d;
    padding:50px 10%;
}

.choice select{
    appearance: none;
    width:200px;
    padding: 5px 10px;
}

.choice div{
    flex-basis:300px;
}

#text{
    font-size: 1.5rem;
    padding:50px 10%;
    letter-spacing: 1.5px;
    line-height: 40px;
}

.rank{
    padding:100px 5%;
}

.rank h2,.text h2{
 text-align: center;
 margin-bottom: 50px;
}

.rank th,.rank td{
    width:250px;
    padding:10px;
    font-size: 1.2rem;
} 

.rank td{
    text-align: center;
}

footer{
    background-color: #e9896a;
    color:#f8f5f1;
    padding:20px 2%;
}

footer table{
    margin:0 5%;
}

footer td,footer th{
    color:white;
    width:250px;
    text-align: center;
}

footer img{
    position: relative;
    top:3px;
}
#sign{
    text-align: end;
}

#sign span{
    font-weight: 600;
}
@keyframes blink{
    to{
        color:black
    }
    from{
        color:white;
    }
}